{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}


<h1 class="title">
    Jobs
</h1>
<div class="level">
    <div class="level-left">
        <div class="level-item">
            <button class="button is-info js-modal-trigger" data-target="modal-js">
                <span class="icon">
                  <i class="fa fa-plus"></i>
                </span>
                <span>Add job</span>
            </button>
        </div>
    </div>
</div>


<table class="table">
    <thead>
    <tr>
        <th>№</th>
        <th>Name</th>
        <th>Worker</th>
        <th>Language</th>
        <th>State</th>
        <th>Date</th>
        <th>CPU %</th>
        <th>RAM %</th>
        <th>GPU (used (mb), util (%))</th>
        <th>Time (sec)</th>
        <th>Get all stats</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for work in works %}
    <tr>
        <th>{{ loop.index }}</th>
        <td> {{ work.name }}</td>
        <td><a href="{{ url_for('main.workers', worker_id=work.worker_id) }}">{{ work.worker_id }} {{ work.worker.name
            }} {{
            work.worker.type.value}}</a></td>
        <td> {{ work.language}}</td>
        <td>
            <label class="switch is-rounded">
                {% if work.state|string() == "True" %}
                <input type="checkbox" value="false"
                       onclick="updWork({{ work.id|string() }})" checked>
                {% else %}
                <input type="checkbox" value="false"
                       onclick="updWork({{ work.id|string() }})">
                {% endif %}
                <span class="check is-info"></span>
            </label>

        </td>
        <td>{{work.date}}</td>
        <td>{{work.cpu}}</td>
        <td>{{work.ram}}</td>
        <td>{{ work.gpu }}</td>
        <td>{{work.time}}</td>
        <td>
            <button class="button is-info" onclick="getStats({{work.id|string()}})">
                Get
            </button>
        </td>
        <td>
            <button class="button is-info js-modal-trigger del-button" data-target="confirm-modal-js"
                    onclick="delWork({{work.id|string()}})">
                Delete work
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div id="confirm-modal-js" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h2 class="title">Are you sure?</h2>
            <form method="POST" action="/works/delete_work">
                <div class="field">
                    <input class="input" type="hidden" value="test_value1" name="id" id="delete-id">
                </div>
                <div class="field is-grouped is-grouped-centered">
                    <p class="control">
                        <button class="button is-info is-large" name="delete">Delete</button>
                    </p>
                    <p class="control">
                        <a class="button is-light is-large cancel-del" type="cancel">Cancel</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div id="modal-js" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">

        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/works/upload_work">
                <div class="field">
                    <div class="control in-line">
                        <label class="label">Worker</label>
                        <div class="select">
                            <select name="worker" id="select_worker">
                                {% for worker in workers %}
                                <option value="{{ worker.id }}">{{ worker.id }} {{ worker.name }} {{ worker.type.value
                                    }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">Name</label>
                        <input class="input is-medium" type="text" name="name" placeholder="Name" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">Language</label>
                        <input class="input is-medium" type="text" name="language" placeholder="ex: en" required>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-centered">
                    <p class="control">
                        <button class="button is-block is-info is-medium is-fullwidth">Add</button>
                    </p>
                    <p class="control">
                        <a class="button is-light is-medium cancel-del" type="cancel">Cancel</a>
                    </p>
                </div>

            </form>
        </div>

    </div>

    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% block javascript %}
<script>

    // Functions to open and close a modal
    function openModal($el) {
        $el.classList.add('is-active');
        $el.style.setProperty("--modal-content-width", "400px");
    }

    function closeModal($el) {
        $el.classList.remove('is-active');
    }

    function closeAllModals() {
        (document.querySelectorAll('.modal') || []).forEach(($modal) => {
            closeModal($modal);
        });
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);

        $trigger.addEventListener('click', () => {
            openModal($target);
        });
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close, .cancel-del, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
        const $target = $close.closest('.modal');

        $close.addEventListener('click', () => {
            closeModal($target);
        });
    });

    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
        const e = event || window.event;

        if (e.keyCode === 27) { // Escape key
            closeAllModals();
        }
    });

    const $del_inp = document.querySelector('#delete-id');

    function delWork(id) {
        $del_inp.value = id;
    }

    function updWork(id) {
        $.post("{{ url_for('main.update_state')}}", {"work_id": id}, function (data) {
            window.location.href = data;
        });
    }


    function getStats(id) {
        window.open("{{ url_for('main.download_stats' )}}" + "?work_id=" + id, '_blank');
    }


</script>
{% endblock %}
{% endblock %}